.controls {
  grid-area: controls;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: #000;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding: 3em 2.5em;
}

.controls .header {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.controls .checkbox {
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

.controls .checkbox:hover {
  color: white;
}

.controls .disparity {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 90%;
}

.controls .disparity .header {
  font-size: 1em;
}

.controls .disparity p {
  text-align: center;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}